@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Jura:700');

/* CORPO */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}
/* CABECALHO */
header {
    padding: 10px 100px;
    box-sizing: border-box;
    background: #16a085;
}
header img {
   width: 300px;
   height: 180px;
   margin-left: 400px;
}
/* CONTEÚDO */
section {
    width: 100%;
    height: 100vh;
}
section.sec1 {
    background: url('../IMAGES/img3.jpg');
    background-size: cover;
    background-attachment: fixed;
      
}
section.sec2 {
    padding: 100px;
    box-sizing: border-box;
    height: auto;
}
section.sec2 h2 {
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px;
}
section.sec2 p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
section.sec3 {
    background: url('../IMAGES/img1.jpg');
    background-size: cover;
}
/* MENU */
nav {
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.8);
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: sticky;
    top: 0;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
    margin-right: 220px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    font-family: 'Jura', sans-serif;
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    transition: .5s;
}
nav ul li a:hover, nav ul li a.active {
    background: #ff3f34;
}
/* back-to-top */
.back-to-top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    background: url('../IMAGES/arrow up.png') no-repeat center 12px;
    float: right;
    background-color: #16a085;
    position: fixed;
    bottom: 200px;
    right: 20px;
}
.back-to-top:hover {
    cursor: pointer;
    background-color: #34ace0;
}
/* Rodapé */
footer {
    width: 100%;
    height: 230px;
    background-color: rgba(0,0,0,.8);
}